extends layout

block content
  section.py-5.mt-5
    .container
      .row.justify-content-center
        .col-lg-6.text-center
          .error-container.py-5
            .error-icon.mb-4
              i.fas.fa-exclamation-triangle.fa-5x.text-warning

            h1.display-4.fw-bold.text-dark.mb-3= title
            
            p.lead.text-muted.mb-4= message

            .action-buttons
              a.btn.btn-primary.btn-lg.me-3(href='/') Volver al Inicio
              a.btn.btn-outline-primary.btn-lg(href='javascript:history.back()') Ir Atrás

block scripts
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css')